 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    scroll-behavior: smooth;
}html{
    font-size: 62.5%;
} 
body{
    font-size: 2rem;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}
header{
    background-color: #0089b7;
}
nav{
display: flex;
justify-content: space-between;

}
.container a{
    text-decoration: none;
    color: white;
    
}
ul{
    list-style: none;
    font-size: 25px;
}
nav ul{
    display: flex;
    gap: 40px;
    align-items: center;
   
}
.logo{
    font-size : 40px;
    font-weight: 550;
     

}
nav li:hover{
    border-bottom: 2px solid rgb(25, 15, 2);
    transition: 0.2s ease-in-out;
}
#hero{
background-color: #003251;
color: white;
padding: 40px 200px;
border-bottom: 2px solid #0089b7;
}

#hero .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.herocontent{
    display: grid;
    place-items: center;
}
#hero h1{
    font-size: 40px;
    font-weight: bold;
}
.tetx{
    font-size: 57px;
    font-weight: bold;
    color: #fff000;
}
.nametext{
    font-size: 50px ;
}
#hero h2{
    font-size: 35px;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(50,end),blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink-caret {
    from,
    to{
        border-color: transparent;
    }50%{
        border-color: orange;
    }
    
}
#project img{
    width: 200px;
    height: 300px;
}
#project h2{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    
}
#project{
    background-color: #003251;
    color: white;
    border-top: 1px solid #0089b7;;
}
.project_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
   

}
#project .grid_item{
    margin-top: 60px;
    margin-left: 50px;
}
.grid_item{
    display: grid;
    place-items: center;
}
.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease-in-out ;
    border: 1px solid #0089b7;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.1s ease-in-out ;
}
.card:hover img{
   transform: scale(1.05);
    transition: 0.5s ease-in-out ;
    opacity: 0.8;
}
.card:hover .card-content{
    background-color: rgb(253, 252, 250);
    color: #003251;
    transform: translate(0px);
}
.card-content{
    padding: 2rem;
    position: relative;
    top: -10.5rem;
    margin-bottom: -10.5rem;
    transition: 0.5s ease-in-out ;
    transform: translate(50px);
} 
.card-content h3{ 
    text-align: center;

}



#contact{
    background-color: #003d62;
    color: white;
    border-top: 2px solid #0089b7;
}
#contact h2{
    text-align: center;
    font-size: 70px;
    margin-top: 70px;

}
#contact .container{
    display: flex;
    height: 90vh;
    flex-direction: column;
    gap:2rem;


}
.top_contact{
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(90px 1fr));
    gap: 40px;
    margin-top: 10px;
}
.contact_way{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 20px;
}
.contact_way i{
    font-size: 40px;
}
.bottom_contact{
       max-width: 800px;
    display: flex;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(90px 1fr));
    gap: 40px;
    margin-top: 10px;
}
footer{
    background-color: #003251;
    padding: 1rem;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;

}

@media (max-width:786px){
    html{
        font-size: 40%;
    }
    #hero.container{
      flex-direction: column;  
    }
    .heroimage{
   display: grid;
   place-items: center;
    }
     #contact .container{
    height: 70vh;
   }

}@media (max-width:500px){
    html{
        font-size: 32%;
    }
    #hero.container{
      flex-direction: column;  
    }
    .heroimage{
   display: grid;
   place-items: center;
    }
   #contact .container{
    height: 50vh;
   }
}
